<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/dist/css/bootstrap.css">
  </head>
  <body>
    <div style="width: 50%; padding: 20px">
      <% if(url) { %>
        <ul class="nav nav-pills">
          <li><a href="/">Home</a></li>
          <li><a href="<%= url %>">OpenPD</a></li>
          <li><a href="/chat">Chat</a></li>
          <li><a href="/brainstorm_group">Idea Group</a></li>
          <li><a href="/brainstorm_idea">Ideas</a></li>
        </ul>
      <% } %>
      <form id="brainstormIdea" method= "post" action= "/get_idea" role="form">
        <div class="form-group">
          <h3>Enter brainstorm idea</h3> <br>
          <input type="text" class="form-control" name="ideaName" id="ideaName" placeholder="Enter idea name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>