<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/dist/css/bootstrap.css">
    <script type="text/javascript" src= "/jquery-1.10.2.min.js"></script>
     <script type="text/javascript">
      $(function() {
        // $("li").removeClass("active");
        var uri = window.location.pathname;
        if(uri == "/chat") {
          $(".chat").addClass("active");
        }
      });
    </script>
  </head>
  <body>
    <div style= "width: 50%; padding: 20px">
      <% if(url) { %>
        <ul class="nav nav-pills">
          <li class="home"><a href="/">Home</a></li>
          <li class="openpd"><a href="<%= url %>">OpenPD</a></li>
          <li class="chat"><a href="/chat">Chat</a></li>
          <li class="group"><a href="/brainstorm_group">Idea Group</a></li>
          <li class="idea"><a href="/brainstorm_idea">Ideas</a></li>
          <li class="thinkletGroup"><a href="/thinkletSpace">Thinklet Group</a></li>
          <li class="thinklet"><a href="/thinklet">Thinklet</a></li>
        </ul>
      <% } %>
      <form role="form" action= "/get_chat" method= "post" id= "chat">
        <div class="form-group">
          <h3>Enter chat message</h3> <br>
          <input type="text" class="form-control" name="message" id="message" placeholder="Enter chat">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
   
</html>