<html>
  <head></head>
  <body>
    <form id="index" method= "post" action= "/get_url">
      <div style="font-size: 20px; margin: 20px">
        <h3>Add a name to Thinklet Group</h3>
        <input name= "thinkletSpaceName" placeholder= "Add a thinkletSpace name" id= "thinkletSpaceName" style="width: 300px; height: 20px; font-size: 16px"/><br><br>
        <input name= "thinkletName" id= "thinkletName" placeholder= "Add a thinklet name" style="width: 300px; height: 20px; font-size: 16px"/><br><br>
        <input name= "userEmail" type="email" id= "userEmail" placeholder= "Add a email address for the user" style="width: 300px; height: 20px; font-size: 16px"/>
        <button id= "create" type="submit" style="width: 100px; height: 30px; font-size: 16px">Create</button><br><br>
        <input id= "url" style="display:none; width: 500px; height: 20px; font-size: 16px"/>
      </div>
    </form>
  </body>
</html>