<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/dist/css/bootstrap.css">
    <script type="text/javascript" src= "/jquery-1.10.2.min.js"></script>
    
  </head>
  <body>
    <div style= "width: 50%; padding: 20px">
      <% if(url) { %>
        <ul class="nav nav-pills">
          <li class="home"><a href="/">Home</a></li>
          <li class="openpd"><a href="<%= url %>">OpenPD</a></li>
          <li class="chat"><a href="/chat">Chat</a></li>
          <li class="group"><a href="/brainstorm_group">Idea Group</a></li>
          <li class="idea"><a href="/brainstorm_idea">Ideas</a></li>
        </ul>
      <% } %>
      <form id="index" method= "post" action= "/get_url" role="form">
          <h3>Add Following details to create a new space</h3> <br><br>
          <div class="form-group">
            <input type="text" name= "thinkletSpaceName" placeholder= "Add a thinklet group name" id= "thinkletSpaceName" class="form-control"/><br>
            <input type= "text" name= "thinkletName" id= "thinkletName" placeholder= "Add a thinklet name"  class="form-control"/><br>
            <input type= "text" name= "userEmail" type="email" id= "userEmail" placeholder= "Add a email address for the user" class="form-control"/> 
          </div>
          <button id= "create" class= "btn btn-primary" type="submit">Create</button><br><br>
      </form>
    </div>
  </body>
</html>