<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/dist/css/bootstrap.css">
    <script type="text/javascript" src= "/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
      $(function() {
        // $("li").removeClass("active");
        var uri = window.location.pathname;
        if(uri == "/thinkletSpace") {
          $(".thinkletGroup").addClass("active");
        }
      });
    </script>
  </head>
  <body>
    <div style="width: 50%; padding: 20px">
      <% if(url) { %>
        <ul class="nav nav-pills">
          <li class="home"><a href="/">Home</a></li>
          <li class="openpd"><a href="<%= url %>">OpenPD</a></li>
          <li class="chat"><a href="/chat">Chat</a></li>
          <li class="group"><a href="/brainstorm_group">Idea Group</a></li>
          <li class="idea"><a href="/brainstorm_idea">Ideas</a></li>
          <li class="thinkletGroup"><a href="/thinkletSpace">Thinklet Group</a></li>
          <li class="thinklet"><a href="/thinklet">Thinklet</a></li>
        </ul>
      <% } %>
      <div class="form-group">
        <h3>Thinklet Group Information</h3> <br>
        <ul class="list-group">
          <li class="list-group-item"><b>Thinklet Group Name: </b><%= thinkletSpace.name %></li>
          <li class="list-group-item"><b>Created on: </b><%= Date(thinkletSpace.created) %></li>
          <li class="list-group-item"><b>Thinklets: </b><ol><% for(var i=0; i<thinkletSpace.thinklets.length; i++) { %>
              <li><a href="/thinklet">Thinklet</a></li>
            <% } %>
            </ol>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>